In [90]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline
import sweetviz as sv

In [3]:
!wget -O housePrice.csv https://maktabkhooneh.org/media/courses/projects/1632300362534233.csv

--2022-12-05 09:27:03--  https://maktabkhooneh.org/media/courses/projects/1632300362534233.csv
Resolving maktabkhooneh.org (maktabkhooneh.org)... 185.143.233.46, 185.143.234.46
Connecting to maktabkhooneh.org (maktabkhooneh.org)|185.143.233.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 190184 (186K) [application/octet-stream]
Saving to: 'housePrice.csv'

housePrice.csv      100%[===================>] 185.73K   167KB/s    in 1.1s

2022-12-05 09:27:06 (167 KB/s) - 'housePrice.csv' saved [190184/190184]

In [95]:
df = pd.read_csv("housePrice.csv")

In [104]:
df["Area"].replace(",", "")

0        63
1        60
2        79
3        95
4       123
       ...
3474     86
3475     83
3476     75
3477    105
3478     82
Name: Area, Length: 3456, dtype: object

In [105]:
df.dropna(inplace = True)
df.shape

(3456, 8)

In [106]:
df.describe()

              Room         Price    Price(USD)
count  3456.000000  3.456000e+03  3.456000e+03
mean      2.081308  5.379957e+09  1.793319e+05
std       0.759723  8.121729e+09  2.707243e+05
min       0.000000  3.600000e+06  1.200000e+02
25%       2.000000  1.420000e+09  4.733333e+04
50%       2.000000  2.900000e+09  9.666667e+04
75%       2.000000  6.000000e+09  2.000000e+05
max       5.000000  9.240000e+10  3.080000e+06

In [107]:
df["Area"] = [col.replace(',', '') for col in df["Area"]]

In [108]:
df.describe()

              Room         Price    Price(USD)
count  3456.000000  3.456000e+03  3.456000e+03
mean      2.081308  5.379957e+09  1.793319e+05
std       0.759723  8.121729e+09  2.707243e+05
min       0.000000  3.600000e+06  1.200000e+02
25%       2.000000  1.420000e+09  4.733333e+04
50%       2.000000  2.900000e+09  9.666667e+04
75%       2.000000  6.000000e+09  2.000000e+05
max       5.000000  9.240000e+10  3.080000e+06

In [109]:
desc = df.describe(percentiles = perc, include = include)
desc

        Area         Room Address         Price    Price(USD)
count   3456  3456.000000    3456  3.456000e+03  3.456000e+03
unique   243          NaN     192           NaN           NaN
top       75          NaN   Punak           NaN           NaN
freq     111          NaN     161           NaN           NaN
mean     NaN     2.081308     NaN  5.379957e+09  1.793319e+05
std      NaN     0.759723     NaN  8.121729e+09  2.707243e+05
min      NaN     0.000000     NaN  3.600000e+06  1.200000e+02
20%      NaN     2.000000     NaN  1.120000e+09  3.733333e+04
40%      NaN     2.000000     NaN  2.200000e+09  7.333333e+04
50%      NaN     2.000000     NaN  2.900000e+09  9.666667e+04
60%      NaN     2.000000     NaN  3.600000e+09  1.200000e+05
80%      NaN     3.000000     NaN  7.485000e+09  2.495000e+05
max      NaN     5.000000     NaN  9.240000e+10  3.080000e+06

In [89]:
des = df["Area"].describe()
des

count     3456
unique     243
top         75
freq       111
Name: Area, dtype: object

In [50]:
df['Area'] = df.Area.str.replace(r"[a-zA-Z]",'')

/var/folders/0h/yv41lzm11wx3q8mwnf6tdx540000gn/T/ipykernel_65314/751320408.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Area'] = df.Area.str.replace(r"[a-zA-Z]",'')

In [51]:
des = df["Area"].describe()
des

count     3456
unique     243
top         75
freq       111
Name: Area, dtype: object

In [57]:
df['Area'] = df['Area'].apply(lambda x: str(x).replace(",",""))

In [58]:
des = df["Area"].describe()
des

count     3456
unique     243
top         75
freq       111
Name: Area, dtype: object